body {
	margin: 0;
	font-family: sans-serif;
	font-size: 1.4em;
	padding-bottom: 100em;
}

h1,nav {
	text-align: center;
}
h1 {
	margin: 1.5em 0;
}
nav {
	background: steelblue;
	line-height: 3;
	color: #fff;
	margin-bottom: 2em;
}

main {
	width:80%;
	margin: auto;
}

.sticky{
  position: fixed;
  width: 100%;
  top:0;
  background: tomato;
}